# Copyright (c) 2025 Titouan Christophe
# SPDX-License-Identifier: Apache-2.0

config MIDI2_UDP_HOST
	bool "MIDI2 UDP host [EXPERIMENTAL]"
	select NET_SOCKETS
	select NET_IPV4
	select NET_UDP
	help
	  Host library of User Datagram Protocol for Universal MIDI Packets.
	  Provides the following features:
	  - Exposing UMP endpoint exposed on UDP socket
	  - Accepting inbound client invitations
	  - Sending/Receiving Universal MIDI packets
	  Following "Network MIDI 2.0 (UDP) Transport Specification" v1.0

if MIDI2_UDP_HOST
config MIDI2_UDP_HOST_AUTH
	bool "Support for authentication (shared key or user/password)"
	select MBEDTLS
	select MBEDTLS_CIPHER_CCM_ENABLED
	select CRYPTO
	select CRYPTO_MBEDTLS_SHIM

module=NET_MIDI2
module-dep=NET_LOG
module-str=Log level for network MIDI2
module-help=Enables midi2 debug messages.
source "subsys/net/Kconfig.template.log_config.net"
endif

config MIDI2_UMP_STREAM_RESPONDER
	bool "MIDI2 UMP Stream responder"
	help
	  Library to respond to UMP Stream discovery messages, as specified
	  in "Universal MIDI Packet (UMP) Format and MIDI 2.0 Protocol"
	  version 1.1.2 section 7.1: "UMP Stream Messages"
