# Copyright (c) 2025 Titouan Christophe
# SPDX-License-Identifier: Apache-2.0

config AUDIO_CODEC_CS47L63
	bool "Cirrus CS47L63 driver"
	default y
	select SPI
	depends on DT_HAS_CIRRUS_CS47L63_ENABLED
	help
	  Enable the driver for the Cirrus CS47L63 Low-Power Audio DSP
	  with Microphone Interface and Mono Differential Headphone Driver
