# Copyright (c) 2025 Titouan Christophe
# SPDX-License-Identifier: Apache-2.0

config MFD_SEESAW
	bool "Adafruit Seesaw multifunction device"
	default y
	depends on DT_HAS_ADAFRUIT_SEESAW_ENABLED
	help
	  Enable driver for Adafruit Seesaw.

if MFD_SEESAW

module = MFD_SEESAW
module-str = seesaw
source "subsys/logging/Kconfig.template.log_config"

endif
