# Copyright (c) 2025 Titouan Christophe
# SPDX-License-Identifier: Apache-2.0

config INPUT_SEESAW_KEYPAD
	bool "Adafruit seesaw keypad over I2C"
	default y
	depends on DT_HAS_ADAFRUIT_SEESAW_KEYPAD_ENABLED
	depends on MFD_SEESAW
	help
	  Enable support for Adafruit Seesaw gpio

if INPUT_SEESAW_KEYPAD

config INPUT_SEESAW_KEYPAD_POLL_INTERVAL
	int "Event poll interval (ms)"
	default 25

endif
